<Html>

<script type="text/javascript">

        function downloadFile (URL, fileName){
            let link = document.createElement("a");

            link.setAttribute("download", fileName);
            link.href = URL;

            document.body.appendChild(link);
            link.click();
            link.remove();
        }

           function download() {
            var m = confirm("Want to download file?");
            if (m) {

            fetch('http://localhost:8080/downloadFile', {
            Method: 'GET',
            Headers: {
            Accept: 'application.json',
            'Content-Type': 'application/json'
            },
            Cache: 'default'
            })

            alert('The file has been downloaded successfully.');

            var m = confirm("Want to upload new file?");
            if (m) {
                window.location.replace("http://localhost:8080/upload");
            }

        }
    }


</script>

<head>
    <title>Download your file</title>

    <style>
            #upload-button {
            padding: 10px;
            color: white;
            background-color: #009578;
            border: 1px solid #000;
            border-radius: 5px;
            cursor: pointer;
            }



    </style>
</head>

<body>

<button id="download-button" onclick="download()"> Download</button>

</body>

</Html>