<Html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">

    function download() {
        var m = confirm("Want to download file?");
        if (m) {

            window.location.replace("http://localhost:8080/downloadPdf/[[${link}]]");

            alert('The file has been downloaded successfully.');

            window.location.replace("http://localhost:8080/upload");

            //localStorage.clear();
            //form.reset();

        }
    }


</script>

<head>
    <title>Download your file</title>

    <style>
            #upload-button {
            padding: 10px;
            color: white;
            background-color: #009578;
            border: 1px solid #000;
            border-radius: 5px;
            cursor: pointer;
            }

    </style>
</head>

<body>

<button id="download-button" onclick="download()"> Download</button>

</body>

</Html>