<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:inline="javascript">

  function LoopDocuments() {
    let json = [[${ map_list }]];

    var page = document.getElementById('test');

    for (let i = 0; i < json.length; i++) {
      let obj = json[i];
      console.log(obj.id + ", " + obj.signatureOne + ", " + obj.signatureTwo);

      var idElement = document.createElement('input');
      idElement.type = "text";
      idElement.style.width = '110px';
      idElement.value = "ID: " + (obj.id);
      page.appendChild(idElement);

      var dateTimeElement = document.createElement('input');
      dateTimeElement.type = "text";
      dateTimeElement.style.width = '220px';
      dateTimeElement.value = "Date and time: " + (obj.dateTime);
      page.appendChild(dateTimeElement);

      var firstSignatureElement = document.createElement('input');
      firstSignatureElement.type = "text";
      firstSignatureElement.style.width = '100px';
      firstSignatureElement.value = "first signed: " + (obj.firstSignature);
      page.appendChild(firstSignatureElement);

      var secondSignatureElement = document.createElement('input');
      secondSignatureElement.type = "text";
      secondSignatureElement.style.width = '120px';
      secondSignatureElement.value = "second signed: " + (obj.secondSignature);
      page.appendChild(secondSignatureElement);

      var oneSignatureElement = document.createElement('input');
      oneSignatureElement.type = "text";
      oneSignatureElement.style.width = '220px';
      oneSignatureElement.value = (obj.signatureOne);
      page.appendChild(oneSignatureElement);

      var twoSignatureElement = document.createElement('input');
      twoSignatureElement.type = "text";
      twoSignatureElement.style.width = '250px';
      twoSignatureElement.value = (obj.signatureTwo);
      page.appendChild(twoSignatureElement);

      var downloadElement = document.createElement('input');
      downloadElement.type = "button";
      downloadElement.value = 'Download document';
      downloadElement.style.width = '300px';
      downloadElement.style.height = '20px';
      page.appendChild(downloadElement);

      var deleteElement = document.createElement('input');
      deleteElement.type = "button";
      deleteElement.value = 'Delete document';
      deleteElement.style.width = '300px';
      deleteElement.style.height = '20px';
      page.appendChild(deleteElement);

      downloadElement.addEventListener('click', function () {
        var x = confirm('Do you want to download document? ' + obj.id);
        if (x) {
          window.location.replace("/downloadPdf/" + obj.id);
        }
      });

      deleteElement.addEventListener('click', async function () {
        var x = confirm('Do you really want to remove document? ' + obj.id);
        if (x) {
          var urlDelete = '/delete/' + obj.id;
          await fetch(urlDelete, {
            method: "POST",
          });

          location.reload();
        }
      });

      var linebreak = document.createElement("br");
      page.appendChild(linebreak);

    };

  }

</script>

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body onload="LoopDocuments()">
  <h2 style="background-color:#66ccff;font-family: Lucida Console, Courier New, monospace;"> Documents overview: </h2>
  <br>

  <h1 id="test"></h1>


</body>

</html>